.project
.idea

.settings
.DS_Store
*/.DS_Store
.sass-cache
.tmp_*
/docs
/docs/*
node_modules
nbproject
nbproject/*
nbproject/private/*
META-INF
META-INF/*
WEB-INF
WEB-INF/*
conf
client/default/sdk/command/
build.xml
cloud/fhc-debug.log
fhc-debug.log
cloud/npm-debug.log
npm-debug.log
