<div class="panel floatLeft">
  <img src="images/inis.png" height="550px"/>
</div>

<div id="contact" class="panel floatRight">
  <h1>Contact</h1>
  <!-- &nbsp; doin' it wrong &nbsp; -->
  <strong>Email</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a href='mai&#108;&#116;o&#58;c&#105;an&#64;cia%&#54;E&#99;la&#114;ke&#46;co&#109;'>&#99;ia&#110;&#64;&#99;ia&#110;cla&#114;ke&#46;c&#111;m
  </a><br/>
  <strong>Twitter</strong>&nbsp;&nbsp;&nbsp;&nbsp; <a href="http://www.twitter.com/cianclarke">@cianclarke</a><br/>
  <strong>Linkedin</strong>&nbsp;&nbsp; <a
        href="http://www.linkedin.com/profile/view?id=53066064&locale=en_US&trk=tab_pro">Cian Clarke</a><br/>
  <strong>Flickr</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a
        href="http://www.flickr.com/photos/42991428@N08/">flickr</a><br/>
  <strong>Last.fm</strong>&nbsp;&nbsp;&nbsp; <a href="http://www.last.fm/user/cianclarke">cianclarke</a><br/>
</div>
