<div id="cv" class="panel">
  <h1>CV</h1>

  <h2>Experience</h2><br/>

  <h3>IBM Lotus Connections Wikis Frontend Engineer October 2009 - September 2010</h3>
  <strong>Experience Acquired</strong>
  <ul>
    <li>Developed and Implemented complex user interfaces entirely in JavaScript.</li>
    <li>Improved JavaScript performance in legacy browsers with a specific focus on memory leak detection</li>
    <li>Applying ARIA accessibility to the component for use with Assistive Technologies, testing with JAWS</li>
    <li>Practising Agile and Object Orientated Development.</li>
  </ul>
  <strong>Tasks</strong>
  <ul>
    <li>Learned to work and coordinate work with a team of front and backend developers and testers</li>
    <li>Coordinated our team’s synchronization and facilitated weekly meetings with our User Experience contact in
      Raleigh, USA and our Information Developer in Littleton, USA
    </li>
    <li>Experienced a large quantity of browser specific bugs in rendering & JavaScript execution</li>
    <li>Actively participated in scrums, iteration planning</li>
    <li>Learned the importance of performance, scalability, unit testing and preventing XSS</li>
    <li>Worked alongside continuous integration</li>
    <li>Worked on one of the world’s largest JavaScript codebases</li>
    <li>Observed strict object orientated patterns in all Java / JavaScript development work</li>
    <li>Worked overtime fixing large quantities of bugs prior to release</li>
  </ul>
  <br/><br/>

  <h3>IBM Extreme Blue Internship June 2009 - September 2009</h3>

  <p>Worked with a team of interns and a large number of IBM mentors to create a Wiki Import Engine for the Lotus
    Connections Wiki. During our internship, we filed 3 draft patent disclosures with IBM Legal.</p>
  <strong>Experience Aquired</strong>
  <ul>
    <li>Gained experience working with a small team</li>
    <li>Weekly presentation sessions attended by a highly technical audience</li>
    <li>Intense questions and feedback sessions</li>
    <li>Presented to high-ranking executives, an IBM Vice President, academics and development managers</li>
    <li>Presented to large audiences of up to 500 people in Ireland and at the World Trade Centre in Rotterdam</li>
    <li>Worked with and gained experience from experts in the field of Linguistic Analysis, UI Design and Social
      Software
    </li>
  </ul>
  <br/><br/>


  <h3>Inis Design 2005-Present</h3>

  <p>Founded Inis Design, currently managing and hosting 33 websites. Inis is a Web Design and Development firm
    specialising in small to medium businesses providing CMS and e-commerce solutions.</p>
  <strong>Recent Work</strong>
  <ul>
    <li>Trendy is an iPhone application which I developed displaying trending topics in real time using the streaming
      API. It utilizes OAuth authentication to overcome rate-limiting issues on mobile devices.
    </li>
    <li>http://www.trendy.ie is an all-AJAX, HTML5, NodeJS, Websockets and CSS3 implementation of Trendy.</li>
    <li>http://www.thetackroom.ie is an online equestrian and pet store with shopping cart, wish list and loyalty
      points.
    </li>
  </ul>
  <strong>Experience Aquired</strong>
  <ul>
    <li>Working with clients from all walks of life – artists, prestige car dealers, political forums</li>
    <li>Entrepreneurial, organizational and interpersonal skills in a small startup environment</li>
    <li>Model View Controller development through Apple iOS SDK programming</li>
    <li>Marketing through Google AdWords and Social Media, managed corporate identities</li>
    <li>Dealing with large workloads across many projects</li>
    <li>Hired and managed part time developers</li>
    <li>Working outside of business hours and during weekends</li>
    <li>Meeting tight deadlines whilst maintaining high quality and pixel perfect attention to detail</li>
    <li>Acquired strong Photoshop & visual design skills</li>
    <li>Strong PHP scripting & MySQL skills</li>
  </ul>
  <br/><br/>

  <h2>Skills</h2><br/>
  <strong>Web design technologies:</strong> HTML5, CSS3, AJAX (JQuery, Dojo), ARIA Accessibility, Photoshop &
  Dreamweaver CS5<br/>
  <strong>Proficient programming in:</strong> JavaScript, PHP, MySQL, Java, C/C++, Objective C/Cocoa<br/>
  <strong>Knowledge of:</strong> Python, Ruby, C#, JUnit. <br/>
  <strong>Experience with:</strong> Object Orientation, XP and Agile, MVC, ATOM / Rest, OpenCV, OpenGL, Subversion,
  Github, Websphere, DB2, Eclipse/RTC, Visual Studio, Rational Team Concert, XCode, Apache, Mac, Windows, Linux,
  VMWare<br/><br/><br/>


  <h2>Education</h2><br/>

  <h3>BA (Mod) Computer Science, Trinity College Dublin 2006-2011</h3><br/>
  <strong>Final year options:</strong> Computer Graphics, Computer Vision and Fuzzy Logic.
  <strong>Final Year Project</strong>: Develop a metric to represent normalized traffic information taken from the
  induction loop sensors installed in many of Ireland’s cities and map them using the Google Maps V3 API.<br/>
  Technologies used: PHP / MySQL (retrieval), Python (Urban Traffic Control System Proxy) and Ajax (Frontend)

  <h2>Activities</h2>
  <strong>Photography:</strong> Respected photographer with a high profile in my area. Photos published in local and
  national press, including several front-page appearances, reviews and books. Exhibited in the Old Market House Arts
  Centre.
  <strong>Target Shooting:</strong> Secretary of the Dublin University Rifle Club and Range Officer for two years.
  Coached the Junior Squad to victory in the ‘08 Irish Intervarsities, demonstrating leadership and the ability to
  communicate complex technique.
  <br/><br/>


</div>