<div id="" class="splash panel home floatLeft">
  <img src="images/app.png" height="550px"/>
</div>
<div id="" class="home splash panel floatRight">
  <h2>Hi.</h2>

  <h3>I'm Cian. I write software, take photos, brew beer, and drive cars.</h3>
  <h4>I blog about all four. I write software <a href="http://www.feedhenry.com">@feedhenry</a>.
  </h4>
</div>
