<div class="panel floatLeft talks">
  <img src="images/inisphone.png" height="550px"/>
</div>


<div class="panel floatRight talks">
  <h2>Talks</h2>
  <ul>
    <li>
      <a href="https://speakerdeck.com/cianclarke/4-weapons-for-conquering-the-mobile-battlefield">Four Weapons for Conquering the Mobile Battlefield</a><br />
      <span>August 2014</span>
    </li>
    <li>
      <a href="https://speakerdeck.com/cianclarke/why-use-sencha">Why Use Sencha</a><br />
      <span>June 2013</span>
    </li>
    <li>
      <a href="https://speakerdeck.com/cianclarke/feedhenry-and-mongodb">FeedHenry & MongoDB</a><br />
      <span>Dec 2012</span>
    </li>
    <li>
      <a href="https://speakerdeck.com/cianclarke/writing-mobile-apps-in-the-cloud-with-feedhenry">Writing Mobile Apps in the cloud with FeedHenry</a><br />
      <span>Jan 2012</span>
    </li>
  </ul>

</div>
