<div class="panel floatLeft webdesign">
  <img src="images/inis.png" height="550px"/>
</div>


<div class="panel floatRight webdesign">
  <h2>Inis Design</h2>

  <h3>If you're looking for a website, let me know at <a
          href="http://www.inisdesign.com">http://www.inisdesign.com</a></h3>

</div>