<div class="header blogSubHeader">
  <h1>cian clarke</h1>
  <ul class="inlineList">
    <li><a href="/">Home</a></li>
    <li><a href="/gallery" >Photos</a></li>
    <li><a href="/blog" class="active">Blog</a></li>
    <li><a href="/talks">Talks</a></li>
    <li><a href="/beers">Beers</a></li>
    <li><a href="http://www.github.com/cianclarke">CV</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</div>
